@use '../../../utils/color_base' as *;

.input-wrapper-left {
  display: grid;
  grid-template-rows: auto auto;
  gap: 0.2rem;
}

.label-left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
}

.input-wrapper-top {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.children-left {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.label {
  font-size: 1.4rem;
}

.error-message {
  color: var(--color-destructive-600);
}

.error-message-left {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
