@use '../../utils/common.scss';
@use '../../utils/color_base';
.button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border-radius: 1rem;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  width: fit-content;
  height: fit-content;
}

.button-primary {
  border: none;
}

.button-primary:hover {
  opacity: 0.7;
}

.button-primary-blue {
  color: white;
  background-color: var(--color-primary-700);
}

.button-primary-red {
  color: white;
  background-color: var(--color-destructive-600);
}

.button-primary-green {
  color: white;
  background-color: var(--color-custom-green-500);
}

.button-primary-gray {
  color: white;
  background-color: var(--color-grayscale-600);
}

.button-secondary {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.button-secondary:hover {
  background-color: var(--color-grayscale-300);
}

.button-secondary-blue {
  color: var(--color-primary-700);
  border: 0.15rem solid var(--color-primary-700);
}

.button-secondary-red {
  color: var(--color-destructive-500);
  border: 0.15rem solid var(--color-destructive-500);
}

.button-secondary-green {
  color: var(--color-custom-green-500);
  border: 0.15rem solid var(--color-custom-green-500);
}

.button-secondary-gray {
  color: var(--color-grayscale-600);
  border: 0.15rem solid var(--color-grayscale-600);
}

.button-small {
  font-size: 0.8rem;
  padding: 0.4rem 0.8rem;
}

.button-medium {
  font-size: 1rem;
  padding: 0.6rem 1.2rem;
}

.button-large {
  font-size: 1.2rem;
  padding: 0.8rem 1.6rem;
}
