$lit-color-primary-700: #165ce6;
$lit-color-primary-500: #408fff;
$lit-color-grayscale-200: #fafafa;
$lit-color-grayscale-300: #f1eded;
$lit-color-grayscale-400: #e7e4e4;
$lit-color-grayscale-500: #e9e3e3;
$lit-color-grayscale-600: #9e9e9e;
$lit-color-grayscale-700: #616161;
$lit-color-grayscale-800: #212121;

$lit-color-destructive-500: #dd0000;
$lit-color-destructive-600: #d40707;
$lit-color-destructive-200: #f9dedf;

$lit-color-custom-green-500: #0daa5c;
$lit-color-custom-green-200: #3dec94;

$lit-color-text-800: rgba(0, 0, 0, 0.87);
$lit-color-text-600: rgba(0, 0, 0, 0.6);
