@use 'src/utils/color_base' as *;

.text-input {
  display: flex;
  justify-content: center;
  align-self: center;
  cursor: text;
  height: 2rem;
  width: 100%;
  border: 1px solid #111;
  border-radius: 3px;
  padding: 0.1rem;
  background-color: #fff;
  input {
    font-size: 1rem;
    color: #222;
    width: 100%;
    border: none;
  }
  input:focus-visible {
    outline: none;
  }
  input::placeholder {
    color: var(--color-grayscale-500);
  }
}
.focus {
  outline: none;
  border: 2px solid var(--color-primary-700);
}

.disabled {
  background-color: var(--color-grayscale-200);
  border: 1px solid var(--color-grayscale-500);
  input {
    color: var(--color-grayscale-600);
  }
}

.error {
  outline: none;
  border: 2px solid var(--color-destructive-600);
}
